

.text-white {
    color: #fff;
}

.text-dark {
    color: rgba(255, 255, 255, 0.594);
}

.text-secondary{
    color: #7A878D;
}



.text-center {
    text-align: center;
}

.lh-2{
    line-height: 2.5rem;
}

.lh-3 {
    line-height: 3rem;
}

.ls-1{
    letter-spacing: 0.1rem;
}

/* --------------------- font size ------------------- */
.fs-1 {
    font-size: 1rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs2-5 {
    font-size: 2.5rem;
}
.fs-2-8{
    font-size: 2.7rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-4 {
    font-size: 4rem;
}

.fs-5 {
    font-size: 5rem;
}

.fs-6 {
    font-size: 6rem;
}

/* --------------------------------font weight ---------------------------- */

.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.fw-8 {
    font-weight: 800;
}

/* ---------------------------- */

@media (width<500px) {
    .fs-1-5 {
        font-size: 1.5rem;
    }

    .fs-sm-2 {
        font-size: 2rem;
    }

    .fs-sm2-5 {
        font-size: 2.5rem;
    }
    .fs-sm-2-8{
        font-size: 2.7rem;
    }

    .fs-sm-3 {
        font-size: 3rem;
    }

    .fs-sm-4 {
        font-size: 4rem;
    }

    .fs-sm-5 {
        font-size: 5rem;
    }

    .fs-sm-6 {
        font-size: 6rem;
    }
}

