@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-light: #f7f8fa;
  --border-color: #edeff2;
  --color-gray-blue: #c3cad9;
  --color-blue: #751af6;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.text-blue {
  color: var(--color-blue);
}

.text-gray {
  color: var(--color-gray-blue);
}

.text-blue-gray {
  color: #7d8fb3;
}

.pointer {
  cursor: pointer;
}

.home {
  background: #f7f8fa;
  height: 100%;
  width: 100%;
}

.bar-icon {
  width: 4rem;
  height: 4rem;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 #26334d08;
}

.task-management {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: center;
}

.tasks {
  width: 100%;
  height: 140vh;
  padding: 2rem;
  overflow-y: scroll;
}

.tasks::-webkit-scrollbar {
  display: none;
}

.all-task {
  width: 100%;
  background: white;
  border-radius: 1rem;
  height: 145vh;
}

.tasks-inner {
  background: white;
}

.btn-add {
  width: 12rem;
  height: 3.4rem;
  background: #8833ff;
  border-radius: 25px;
  box-shadow: 0 10px 30px 0 #8833ff26;
  color: white;
  border: none;
}

.btn-add span {
  width: 2.5rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 441px) {
  .btn-add {
    width: 9rem;
    height: 3rem;
    font-size: 0.8rem;
  }

  .btn-add span {
    width: 2rem;
    height: 3rem;
  }
}

.modal-box {
  width: 27%;
  height: auto;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.15);
  padding: 2rem;
  gap: 1rem;
  background: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.task-card {
  border-radius: 0.5rem;
}

.task-card .card-img {
  background: white;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.task-card .card-img img {
  width: 25%;
  height: auto;
  aspect-ratio: 512/512;
  object-fit: contain;
  display: block;
  margin: auto;
}

.task-card h1 {
  color: #6b7a99;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.task-card p {
  font-size: 1.15rem;
  margin-top: 0.5rem;
  color: #6b7a99;
}

.task-card button {
  border: none;
  background: white;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-size: 1rem;
  box-shadow: 0 2px 5px 0 #26334d08;
  color: #7d8fb3;
  font-weight: 500;
  cursor: pointer;
}

.graph-box {
  width: 100%;
  height: auto;
  border: 2px solid #edeff2;
  border-radius: 0.5rem;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.status {
  position: relative;
  padding: 0.7rem 1rem;
}

.status span {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 0.65rem;
  color: white;
  position: absolute;
  top: 8%;
  right: -3%;
  font-weight: 700;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (width <= 1000px) {
  .task-management {
    grid-template-columns: 70% 30%;
  }

  .modal-box {
    width: 35%;
  }
}

@media (width <= 768px) {
  .task-management {
    grid-template-columns: 100%;
  }

  .task-management .tasks {
    order: 2;
    height: auto;
    overflow: auto;
  }

  .modal-box {
    width: 55%;
  }
}

@media (width <= 500px) {
  .modal-box {
    width: 90%;
  }
}

.loader-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: white;
}

.loader-circle  .circle {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  margin: 0 5px;
  animation: scale 1.2s infinite ease-in-out;
}

.log-out{
  width: 12rem;
  height: 5rem;
  background: white;
  position: absolute;
  top: 85%;
  right: 1%;
  border-radius: .5rem;
}
@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}