@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-light: #F7F8FA;
    --border-color : #EDEFF2;
    --color-gray-blue: #C3CAD9;
    --color-blue : #751af6;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.text-blue{
    color: var(--color-blue);
}
.text-gray{
    color: var(--color-gray-blue);
}

.text-blue-gray{
    color: #7D8FB3;
}

.pointer{
    cursor: pointer;
}

.home{
    background: #f7f8fa;
    height: 100vh;
    width: 100%;
}

.bar-icon{
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 #26334D08;
}

.task-management{
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: center;
}
.tasks{
    width: 100%;
    border-right: 2px solid #EDEFF2;
    height: auto;
    padding: 2rem;
}

.all-task{
    width: 100%;
    background: white;
    border-radius: 1rem;
    height: auto;
}
.btn-add{
    width: 12rem;
    height: 3.4rem;
    background: #8833FF;
    border-radius: 25px;
    box-shadow: 0 10px 30px 0 #8833FF26;
    color: white;
    border: none;
}
.btn-add span{
    width: 2.5rem;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper{
    background: #f7f8fa;
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.modal-box {
    width: 27%;
    height: auto;
    border-radius: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.15);
    padding: 2rem;
    gap: 1rem;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
